<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	
	<body>

		<span class="dot"></span>
		<h1>Congratulations!!!!! You rolled the free turn sector and have been granted a free turn token.
		    These tokens can be used when you answer a question incorrectly or spin a "lose turn" sector.
		    Setting {{player}}'s available free token count to {{free_tokens}}!</h1>

		<button onclick="window.location.href = 'http://127.0.0.1:8000{% url 'wheel' %}';">{{ button_text }}</button>

		{% include 'footer.html' %}
	</body>
</html>