<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Game Over</title>
</head>
<body>
<h1>{{ game_over_text }}</h1>
<h2>{{ winner_text }}</h2>

<table>
	<thead>
		<tr>
			<th></th>
			{% for class in classes %}
				<th colspan="3">{{ class }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
			<tr>
				{% for item in row %}
					{% if not forloop.counter0 %}
						<th>{{ item }}</th>
					{% else %}
						<td>{{ item }}</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<button onclick="window.location.href = 'http://127.0.0.1:8000/{{ button_link }}/';">{{ button_text }}</button>
</body>
</html>