<!DOCTYPE html>
<html>

	{% include 'head.html' %}
	
	<body>

		<span class="dot"></span>
		<h1>Unfortunately {{player}} has spun the "lose turn" sector. On the bright side, you have {{numTokens}} free turn tokens left. Would you like to use a token now?</h1>

		<button onclick="window.location.href = 'http://127.0.0.1:8000/use_token';">{{ use_token_button_text }}</button>
		<button onclick="window.location.href = 'http://127.0.0.1:8000/save_token';">{{ save_token_button_text }}</button>
		
		{% include 'footer.html' %}
	</body>
</html>
