<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<input type="hidden" id="sector_id" name="sector_id">
<b id="timeRemaining"></b>
<h1>Category: {{ category }}</h1>
<h1>Points: {{ point_total }}</h1>
<h1>{{ question_text }}</h1>
<button onclick="window.location.href = 'http://127.0.0.1:8000/wheel/{{ button_link_1 }}/{{ point_total }}/';">{{ button_1_text }}</button>
<button onclick="window.location.href = 'http://127.0.0.1:8000/wheel/{{ button_link_2 }}/{{ point_total }}/';">{{ button_2_text }}</button>
<h2>Answer: {{ answer_text }}</h2>
<body>
<script>
    const timeout = 15;
    let tics = 0;

    var x = setInterval(function () {
        tics+=1;
        document.getElementById("timeRemaining").innerHTML = 'Time Remaining: '.concat(timeout-tics).toString();
        if(timeout-tics <= 0){
        document.getElementById("timeRemaining").innerHTML = "TIME UP";
        clearInterval(x);
        tics = 0;
        //const Http = new XMLHttpRequest();
        const base_url = window.location.origin;
        //let sector_id = document.getElementById("sector_id").innerText;
        //const target_url = base_url + '/wrong/'.concat(sector_id);
        let target_url = base_url + '/wheel/wrong/11';

        setTimeout(function () { window.location.href = target_url}, 3000);
        }
    }, 1000);
</script>
</body>
</html>