<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wheel Page</title>
<style>
.dot {
	height: 25px;
	width: 25px;
	background: {{ 'sector_color' }};
	display: inline-block;
}
</style>
</head>
<body>

<span class="dot"></span>
<li>{{ user_1 }}</li>
<li>{{ user_2 }}</li>
<button onclick="window.location.href = 'http://127.0.0.1:8000/{{ button_link }}';">{{ button_text }}</button>
<!--button onclick="window.location.href = 'http://127.0.0.1:8000/{{ button_link }}';">{{ button_text }}</button-->
</body>
</html>