<!DOCTYPE html>
<html>
	{% include 'head.html' %}

	<body>
		{% include 'header.html' %}

		<div class="text-center">
			<h1>{{ title }}</h1>
			<h3>{{ current_player }}</h3>
			
			<button onclick="window.location.href = '{% url 'spin' sector_id=sector_val %}';">{{ button_text }}</button>
		</div>

		<div class="row mt-3">
			{% include "scoreboard.html" %}
		</div>
		<div class="row mt-3">
			{% include "gameboard.html" %}
		</div>

		<div class="text-center mt-3">
			<h3>{{ number_turns }}</h3>
		</div>

		{% include 'footer.html' %}
	</body>
</html>